.carousel-item {
    height: 20rem;
    position: relative;
    float: none;
}

.image-placeholder {
    width: 150%;
    object-fit:cover;
}

.carousel-inner {
    overflow: visible;
}

.wrapper {
    width:100%;
    height:20rem;
    float:left;
}

.black-rectangle {
    width: 100%;
    height: 20rem;
    position:relative;
}