.footerWrap {
    width:100%;
    position: fixed;
    bottom: 0px;
}

.footer {
    width: 100%;
    margin: auto;
}

.footerContent{
    float: left;
    width: 100%;
    background-color:#555;
    padding:20px 0;
}

.footer p{
    float: left;
    width:100%;
    text-align: center;
    color:azure;
}
