@model AllAuto.Domain.ViewModels.Account.RegisterViewModel

@{
    Layout = "_LayoutNoHeader";
    ViewBag.Title = "Регистрация";
}

<div class="container">
    <div class="row">
        <div class="col">
            <span class="anchor"></span>
            <div class="card card-account card-outline-secondary border border-white">
                <div class="card-header border-0">
                    <h3 class="mb-0 text-center">Регистрация</h3>
                </div>
                <div class="card-body">
                    <form id="registerFormId">
                        <div asp-validation-summary="All" style="font-size:23px; font-family:Impact" class="text-danger text-center"></div>
                        <div class="form-group">
                            <input asp-for="Name" class="form-control textbox-dg font-weight-bold text-center" placeholder="Имя" type="text">
                        </div>
                        <div class="form-group">
                            <input autocomplete="new-password" asp-for="Password" placeholder="Пароль" class="form-control textbox-dg font-weight-bold text-center" type="password">
                        </div>
                        <span class="text-muted lh-1 text-center " style="font-size: small;">Пароль должен быть длиной больше 6 символов и иметь только латинские символы</span>
                        <div class="form-group">
                            <input autocomplete="new-password" asp-for="PasswordConfirm" placeholder="Подтвердите пароль" class="form-control textbox-dg font-weight-bold text-center" type="password">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success" id="tryRegisterId">Отправить</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>



@section pageScripts{
    <script>
        $('#tryRegisterId').on('click', function (e) {
            e.preventDefault();
            const model = $('#registerFormId').serialize();
            $.ajax({
                url: '@Url.Action("Register")',
                type: 'POST',
                data: model,
                success: function (response) {
                    Swal.fire({
                        title: 'Вы зарегистрировались',
                        text: response.description,
                        icon: 'success',
                        confirmButtonText: 'Окей',
                        willClose: function () {
                            location.reload();
                        }
                    });
                },
                error: function (response) {
                    Swal.fire({
                        title: 'Информация',
                        text: 'Пользователь уже существует | Пароли не совпадают',
                        icon: 'error',
                        confirmButtonText: 'Окей'
                    })
                }
            })
        });
    </script>
}