<link rel="stylesheet" href="AboutView.css" />

<div class="text">
    <h2>О нас</h2>
    <h5>Магазин автозапчастей и <span>автомобилей</span></h5>
    <p>
        Автозапчасти – это детали и компоненты, используемые для ремонта и обслуживания автомобилей. Они включают в себя различные элементы двигателя, трансмиссии, подвески, тормозной системы, системы охлаждения, рулевого управления, топливной системы, электрики, а также аксессуары и дополнительное оборудование.

        Двигатель: К автозапчастям для двигателя относятся поршни, кольца, клапаны, прокладки ГБЦ, ремни ГРМ, сальники, свечи зажигания, катушки зажигания, датчики, фильтры и многое другое.
        Трансмиссия: В эту категорию входят сцепление, коробки передач, валы, шестерни, маховики, приводные валы и шарниры равных угловых скоростей (ШРУС).
        Подвеска и рулевое управление: Автозапчасти для подвески включают амортизаторы, пружины, стойки, рычаги, сайлентблоки, шаровые опоры, рулевые тяги и наконечники, стабилизаторы поперечной устойчивости и др.
        Тормозная система: Это тормозные колодки, диски, суппорты, цилиндры, вакуумные усилители, тормозные шланги и тросы.
        Система охлаждения: Сюда относятся радиаторы, вентиляторы, термостаты, помпы, шланги и патрубки.
    </p>
    <div class="data">
        <a href="#" class="hire">К заказам</a>
    </div>
</div>
